@charset "UTF-8";
@font-face {
  font-family: "Franklin Gothic";
  src: url('FranklinGothic.woff');
}
/* CSS Document */


/* basic reset */
/* browsers have built in values for elements so we'll reset a few things to zero */

div, p, body, header, footer, section, nav {
  margin: 0;
  padding: 0;
}

img {
  border: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  font-weight: 200;
  font-family: 'Franklin Gothic book', 'Arial Narrow', Arial, sans-serif;
}

/* end Basic Reset */


/* html selectors */

.hidden {
  display: none;
}

body {
  font-family: 'Franklin Gothic Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: rgb(200, 16, 46);
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
}



/* ========== Landing Page ========== */

/* Main page elements */

/* Site Container */

#siteContainer {
  margin: 0 auto;
  width: 1366px;
  height: auto;
}

#mainHeader {
  display: flex;
  justify-content: center;
  margin-top: 135px;
  margin-bottom: 50px;
}

#caution {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#caution p {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  color: #fff;
  line-height: 1.2em;
}

#userInfo {
  display: flex;
  justify-content: center;
  width: 585px;
  margin: auto;
}

#line1 {
  display: flex;
  justify-content: center;
  margin: auto;
  line-height: 50px;
}

#language {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-right: 15px;
}

#date-of-birth {
  display: flex;
  justify-content: space-between;
  color: #fff;
  line-height: 50px;
  width: 585px;
  margin: auto;
  margin-bottom: 20px;
}

#mm {
  background-color: #7D7D7D;
  width: 185px;
  text-align: center;
}

#dd {
  background-color: #7D7D7D;
  width: 185px;
  text-align: center;
}

#yy {
  background-color: #7D7D7D;
  width: 185px;
  text-align: center;
}

#enter {
  display: flex;
  justify-content: center;
  background-color: #272727;
  color: #fff;
  line-height: 50px;
  width: 585px;
  margin: auto;
  margin-bottom: 30px;
}

a:link, a:visited {
  color: #fff;
}

a:hover, a:active {
  color: #666;
}

footer {
  text-align: center;
  color: #fff;
}

footer p {
  font-size: 24px;
}

#copyRight {
  margin-top: 15px;
}

#copyRight p {
  font-size: 16px;
}

/* ========== End of Landing Page ========== */


/* ========== Home Page ========== */

body#index {
  background-color: #fff;
}

#logo img {
  width: 120px;
}

/* Index Container */

/* Index Header */

#indexHeader {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  margin-left: 50px;
  align-items: center;
}

#indexNav {
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

#indexNav ul {
  text-transform: uppercase;
  margin-top: 0;
  display: flex;
  flex-direction: row;
}

#indexNav ul li a {
  display: block;
  width: 100px;
  background-color: rgb(200, 16, 46);
  color: #fff;
  margin-left: 20px;
  text-align: center;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
}

#indexNav ul li a:hover, a:active {
  color: rgb(19, 41, 75);
}

/* End Index Header */

/* Index Hero Image */

#indexHeroImage {
  display: flex;
  width: 1366px;
}

/* End Hero Image */


/* Index Head Copy */

#indexHeadCopy {
  margin-left: 100px;
  margin-top: -500px;
  color: #fff;
}

#indexHeadCopy h1 {
  font-family: 'Franklin Gothic Condensed', 'Arial Narrow', Arial, sans-serif;
  font-size: 65px;
  font-weight: 700;
}

#indexHeadCopy h1 span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 1.3em;
}

.indexHeadline {
  padding-bottom: 15px;
}

#indexHeadCopy p {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.3em;
  font-family: 'Franklin Gothic book', 'Arial Narrow', Arial, sans-serif;
}

#getBeer {
  display: inline-block;
  width: 150px;
  background-color: rgb(200, 16, 46);
  color: #fff;
  margin-top: 30px;
  margin-left: 100px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  border-radius: 30px;
}

/* End Index Head Copy */

/* Index Brand Features */

#indexBrandFeatures {
  display: flex;
  justify-content: space-between;
  margin-top: 300px;
}

.indexBrandFeatures-1 {
  width: 480px;
  height: 400px;
  margin-top: 100px;
  margin-left: 50px;
}

.indexBrandFeatures-1 p {
  text-align: left;
  line-height: 1.2em;
}

.indexBrandLogo {
  width: 480px;
  height: 400px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  
}

.indexBrandFeatures-2 {
  width: 480px;
  height: 400px;
  margin-top: 100px;
  margin-right: 50px;
}

.indexBrandFeatures-2 p {
  text-align: left;
  line-height: 1.2em;
}

/* End Index Brand Features */

/* ========== End Home Page ========== */



/* ========== About Page ========== */

body#about {
  background-color: #fff;
}

#logo img {
  width: 120px;
}

/* About Container */

/* About Header */

#aboutHeader {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  margin-left: 50px;
  align-items: center;
}

#aboutNav {
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

#aboutNav ul {
  text-transform: uppercase;
  margin-top: 0;
  display: flex;
  flex-direction: row;
}

#aboutNav ul li a {
  display: block;
  width: 100px;
  background-color: rgb(200, 16, 46);
  color: #fff;
  margin-left: 20px;
  text-align: center;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
}

#aboutNav ul li a:hover, a:active {
  color: rgb(19, 41, 75);
}

/* End About Header */

/* About Hero Image */

#aboutHeroImage {
  display: flex;
  width: 1366px;
  height: 300px;
  overflow: hidden;

}

#aboutHeroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

/* About Head Copy */

#aboutHeadCopy {
  display: flex;
  justify-content: center;
  margin-top: -175px;
  /* margin-left: 100px; */
  color: #fff;
}

#aboutHeadCopy h1 {
  font-family: 'Franklin Gothic Condensed', 'Arial Narrow', Arial, sans-serif;
  font-size: 65px;
  font-weight: 700;
}

#getBeer {
  display: inline-block;
  width: 150px;
  background-color: rgb(200, 16, 46);
  color: #fff;
  margin-top: 30px;
  margin-left: 100px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  border-radius: 30px;
}

/* End About Head Copy */

/* About Brand Features */

#aboutBrandFeatures {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.aboutBrandFeatures-1 {
  width: 480px;
  height: 400px;
  margin-top: 100px;
  margin-left: 50px;
}

.aboutBrandFeatures-1 p {
  text-align: left;
  line-height: 1.2em;
}

.aboutBrandLogo {
  width: 480px;
  height: 400px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  
}

.aboutBrandFeatures-2 {
  width: 480px;
  height: 400px;
  margin-top: 100px;
  margin-right: 50px;
}

.aboutBrandFeatures-2 p {
  text-align: left;
  line-height: 1.2em;
}

/* End Index Brand Features */

/* ========== End About Page ========== */


/* ========== Products Page ========== */

body#products {
  background-color: #fff;
}

#logo img {
  width: 120px;
}

/* About Container */

/* About Header */

#productsHeader {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  margin-left: 50px;
  align-items: center;
}

#productsNav {
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

#productsNav ul {
  text-transform: uppercase;
  margin-top: 0;
  display: flex;
  flex-direction: row;
}

#productsNav ul li a {
  display: block;
  width: 100px;
  background-color: rgb(200, 16, 46);
  color: #fff;
  margin-left: 20px;
  text-align: center;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
}

#productsNav ul li a:hover, a:active {
  color: rgb(19, 41, 75);
}

/* End Products Header */

/* Products Hero Image */

#productsHeroImage {
  display: flex;
  width: 1366px;
  height: 300px;
  overflow: hidden;
}

#productsHeroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

/* Products Head Copy */

#productsHeadCopy {
  display: flex;
  justify-content: center;
  margin-top: -175px;
  /* margin-left: 100px; */
  color: rgb(255, 0, 0);
}

#productsHeadCopy h1 {
  font-family: 'Franklin Gothic Condensed', 'Arial Narrow', Arial, sans-serif;
  font-size: 65px;
  font-weight: 700;
}

#getBeer {
  display: inline-block;
  width: 150px;
  background-color: rgb(200, 16, 46);
  color: #fff;
  margin-top: 30px;
  margin-left: 100px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  border-radius: 30px;
}

/* End Products Head Copy */

/* Product Type */

#productType {
  display: flex;
  justify-content: space-between;
  margin: 180px 100px 80px;
}

.productType {
  background-color: #000;
  width: 200px;
  height: 400px;
}

.productType p {
  color: #fff;
  text-align: center;
  line-height: 22em;
}


/* End Product Type */



/* Footer */

#mainFooter {
  background-color: rgb(200, 16, 46);
  height: 200px;
}

#footerNav {
  width: 500px;
  height: 30px;
  text-transform: uppercase;
  margin-left: 420px;
  padding-top: 50px;
}

#footerNav ul li {
  display: inline;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
}

#mainFooter p {
  color: #fff;
}

#copyRight {
  display: flex;
  justify-content: center;
  margin-top: 50px
}

/* End Footer */